header{
  background-color: rgb(180, 47, 47);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 25px 0 black;
}
header * {
  display: flex;
}

header ul li a {
  margin: 15px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
header ul li a:hover{
  color: antiquewhite;
}
html{
  background-color: rgb(255, 255, 255);
}
body{
  height: 125px;
  margin-top: 80px;
  
}

h1, h2, p, ul li{
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
}

#homeH1{
  font-size: 50px;
  color: #212121;
  padding: 20px;
}
.homeIcon{
  display: flex;
  float: right;
}
.homeCont {
  font-family: Verdana, sans-serif;
margin: 50px;
padding: 20px;
max-width: auto;
  max-height: fit-content;
text-align: left;
background-color: rgb(227, 224, 224);
word-wrap: break-word;
overflow-wrap: break-word;
line-height: 1.5;
}
#profilepic{
 position: absolute;
  top: 350px;
  right: 100px;
}

.aboutCont{
  font-family: Verdana, sans-serif;
margin: 50px;
padding: 20px;
max-width: auto;
text-align: left;
background-color: rgb(122, 179, 187);
word-wrap: break-word;
overflow-wrap: break-word;
line-height: 1.5;
}
#cvItem{
  justify-content: center;
  list-style: none;
  display: flex;
}
#cvItem #doc{
  background-color: #212121;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  margin: 10px;
}
#cvItem #doc:hover{
  background-color: rgba(255, 255, 255, 0.247) ;
}
.socialCont{
  font-family: Verdana, sans-serif;
margin: 50px;
padding: 20px;
max-width: 150ch;
text-align: left;
background-color: rgb(138, 169, 183);
word-wrap: break-word;
overflow-wrap: break-word;
line-height: 1.5;
}
#socials{
  justify-content: center;
  list-style: none;
  display: flex;
}
#socials .socialBtn{
  background-color: #212121;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  margin: 10px;

}
#socials .socialBtn:hover{
  background-color: rgb(180, 47, 47)
}

.experienceCont{
  font-family: Verdana, sans-serif;
margin: 50px;
padding: 20px;
max-width: 150ch;
background-color: rgb(138, 169, 183);
line-height: 1.5;
}
.exp{
  list-style: none;
}
